In [1]:
import pandas as pd 
import numpy as np
import matplotlib.pyplot as plt
import folium

In [6]:
df_merged=pd.read_csv('merged.csv')
df_merged.drop(columns=['Unnamed: 0'],inplace=True)
df_merged['DATE']=pd.to_datetime(df_merged['DATE'])

In [40]:
df_2019=df_merged.loc[df_merged['DATE']>'2019']
df_2018=df_merged.loc[(df_merged['DATE']<'2019')&(df_merged['DATE']>'2018')]
df_2017=df_merged.loc[(df_merged['DATE']<'2018')&(df_merged['DATE']>'2017')]
df_2016=df_merged.loc[(df_merged['DATE']<'2017')&(df_merged['DATE']>'2016')]

In [67]:
df_2016_score=pd.DataFrame()
df_2016_score['Community Board']=sorted(df_2016['Community Board'].dropna().astype(int).astype(str).unique())
df_2017_score=pd.DataFrame()
df_2017_score['Community Board']=sorted(df_2017['Community Board'].dropna().astype(int).astype(str).unique())
df_2018_score=pd.DataFrame()
df_2018_score['Community Board']=sorted(df_2018['Community Board'].dropna().astype(int).astype(str).unique())
df_2019_score=pd.DataFrame()
df_2019_score['Community Board']=sorted(df_2019['Community Board'].dropna().astype(int).astype(str).unique())

In [68]:
df_2016_score['SCORE']=df_2016.groupby('Community Board')['SCORE'].mean().values
df_2017_score['SCORE']=df_2017.groupby('Community Board')['SCORE'].mean().values
df_2018_score['SCORE']=df_2018.groupby('Community Board')['SCORE'].mean().values
df_2019_score['SCORE']=df_2019.groupby('Community Board')['SCORE'].mean().values

In [ ]:
df_2016_score

   Community Board      SCORE
0              101  14.496124
1              102  16.470423
2              103  16.977839
3              104  16.188742
4              105  15.544901
5              106  15.650735
6              107  16.649682
7              108  16.152416
8              109  17.112676
9              110  18.293333
10             111  16.402299
11             112  18.317073
12             164  13.000000
13             201  16.285714
14             202  13.363636
15             203  11.736842
16             204  17.973684
17             205  13.619048
18             206  16.285714
19             207  16.574074
20             208  16.600000
21             209  14.942029
22             210  14.271739
23             211  14.383333
24             212  12.500000
25             226   9.000000
26             301  16.415929
27             302  16.690608
28             303  14.506173
29             304  17.132530
..             ...        ...
35             310  16.801724
36             311  16.674419
37             312  15.846154
38             313  12.767442
39             314  15.252632
40             315  17.038835
41             316  15.800000
42             317  15.738095
43             318  16.523810
44             401  14.217391
45             402  14.948052
46             403  14.065693
47             404  15.304000
48             405  13.682540
49             406  13.051546
50             407  14.597403
51             408  13.153846
52             409  16.870130
53             410  12.891089
54             411  14.129032
55             412  14.383178
56             413  13.219780
57             414  13.139535
58             480   8.000000
59             481   8.000000
60             482   4.000000
61             483   8.772727
62             501  16.550562
63             502  15.000000
64             503  16.222222

[65 rows x 2 columns]

In [ ]:
m_ave_yronyr = folium.Map(location=[40.63, -73.855972], zoom_start=10)

for yr,df in zip([2016,2017,2018],[df_2016_score,df_2017_score,df_2018_score]):
    
    folium.Choropleth(
        geo_data='Community Districts.geojson',
        name=yr,
        data=df,
        columns=['Community Board', 'SCORE'],
        key_on='feature.properties.boro_cd',
        fill_color='OrRd',
        fill_opacity=0.6,
        line_opacity=0.5,
        legend_name='Average Restaurant Initial inspection score '+str(yr)
    ).add_to(m_ave_yronyr)
    
folium.LayerControl().add_to(m_ave_yronyr)
m_ave_yronyr